.leftBarClass {
    flex: 2;
    background: url("https://images.pexels.com/photos/17949765/pexels-photo-17949765/free-photo-of-centre-ville-de-seoul.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load");
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
    overflow: scroll;
}

.container {
    padding : 20px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.icon {
    display: flex;
    align-items: center;
    gap:20px;
    padding: 20px;
}
