.rightBarClass {
    padding-top: 30px;
    flex: 3;
    background: url("https://images.pexels.com/photos/5326904/pexels-photo-5326904.jpeg?auto=compress&cs=tinysrgb&w=600");
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
    overflow: scroll;
}
.newPost {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
}

.newPost>button {
    background-color: olivedrab;
    padding: 20px;
    font-size: medium;
    border-radius: 10px;
    color: white;
}
.container {
    padding: 20px;
}

.item>span {
    font-weight: 500;
}
.userRightBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
}
.userInfo {
    display: flex;
    align-items: center;
    gap : 20px;
}
.buttonsRight {
    display: flex;
    align-items: center;
    gap: 10px;
}
.userInfo>img {
    width: 50px;
    height: 70px;
    border-radius: 10%;
}
.button-accept {
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin-right: 5px ;
    background-color: navy;
    color: white;
    cursor: pointer;
}
.button-dismiss {
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin-right: 5px ;
    background-color: darkred;
    color: white;
    cursor: pointer;
}