.register {
    height: 100vh;
    background-color: darkgreen;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registerCard {
    width: 60%;
    display: flex;
    flex-direction: row-reverse;
    background-color: yellowgreen;
    min-height: 500px;
    border-radius: 10px;
    overflow: hidden;


}
.left {
    display: flex;
    flex: 1;
    background: url("https://images.pexels.com/photos/18261754/pexels-photo-18261754/free-photo-of-glacier-paysage-montagnes-monument.jpeg?auto=compress&cs=tinysrgb&w=600") center;
    background-size: cover;
    padding: 50px;
    flex-direction: column;
    gap: 30px;
    color: white;
}
.left>h1 {
    font-size: 50px;
    line-height: 40px;
}

.left>p {
    font-size: 14px;
}
.leftButton {
    width: 50%;
    padding: 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
.right {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
}

.right>h1{
    color: navy;
}

.right>form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.right>form>input {
    border: none;
    border-bottom: 1px solid lightslategray;
    padding: 15px 10px;
}

.registerButton {
    width: 50%;
    padding: 10px;
    border:none;
    background-color: cornflowerblue;
    color: white;
    font-weight: bold;
    cursor: pointer;
}